<footer>
  <ul class="nav">
    <li><i class="fa-solid fa-magnifying-glass"></i></li>
    <li><i class="fa-solid fa-house"></i></li>
    <li><i class="fa-solid fa-list"></i></li>
    <li><i class="fa-solid fa-user"></i></li>
  </ul>
</footer>