<footer class="main-footer">
  <nav class="nav">
    <a href="/search"><img
        class="icon"
        alt="Search"
        src="../public/images/search.png"
      /></a>
    <a href="/matcher"><img
        class="icon"
        alt="Home"
        src="../public/images/home.png"
      /></a>
    <a href="list"><img
        class="icon"
        alt="List"
        src="../public/images/list.png"
      /></a>
    <a href="/profile"><img
        class="icon"
        alt="Profile"
        src="../public/images/profile.png"
      /></a>
  </nav>
</footer>