<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../public/css/main.css">
    <link rel="stylesheet" href="../../public/fonts/fonts.css" </head>

<body>
    
    {{{body}}}

    {{> footer}}
    <script src="../../public/js/index.js"></script>
    <script src="../../server.js"></script>
</body>


</html> 