<section
  class="error"
  {{! style="background-image: url('../public/images/richie.jpg')" }}
>
  <h1>404</h1>
  <p>Hello, is it me you're looking for?</p>
  <a href="/matcher"></a>
</section>

{{! <h1>404 - Page not found!</h1> }}