<section
  class="error"
  style="background-image: url('../public/images/lionelrichie.png')"
>
  <article class="error-container">
    <h1>404</h1>
    <p>Hello, is it
      <span class="playpausebutton">me</span>
      you're looking for?</p>
  </article>

  <article class="error-button-container">
    <a href="/profile">go home lionel you're drunk</a>
  </article>
</section>

{{! <h1>404 - Page not found!</h1> }}