{{> header }}

<h1 class="list">Your movielist</h1>

<section class="list-item list-hidden">
    <figure class="movie-information">
        <img class="movie-poster-sm" alt="Hereditary movie poster" src="../public/images/hereditary.webp">

        <div>
            <h2>Hereditary</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
    </figure>

    <article class="matcher-icons">
        <figure><img class="icon" alt="Eye icon" src="../public/images/eye.png"></figure>
        <figure><img class="icon" alt="X icon" src="../public/images/x.png"></figure>
    </article>
</section>

<section class="list-item list-hidden">
    <figure class="movie-information">
        <img class="movie-poster-sm" alt="Inception movie poster" src="../public/images/inception.jpg">

        <div>
            <h2>Inception</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
    </figure>

    <article class="matcher-icons">
        <figure><img class="icon" alt="Eye icon" src="../public/images/eye.png"></figure>
        <figure><img class="icon" alt="X icon" src="../public/images/x.png"></figure>
    </article>

</section>

<section class="list-item list-hidden">
    <figure class="movie-information">
        <img class="movie-poster-sm" alt="The Matrix movie poster" src="../public/images/matrix.png">

        <div>
            <h2>The Matrix</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
    </figure>

    <article class="matcher-icons">
        <figure><img class="icon" alt="Eye icon" src="../public/images/eye.png"></figure>
        <figure><img class="icon" alt="X icon" src="../public/images/x.png"></figure>
    </article>
</section>

<section class="list-item list-hidden">
    <figure class="movie-information">
        <img class="movie-poster-sm" alt="Midsommar movie poster" src="../public/images/midsommar.jpg">

        <div>
            <h2>Midsommar</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
    </figure>

    <article class="matcher-icons">
        <figure><img class="icon" alt="Eye icon" src="../public/images/eye.png"></figure>
        <figure><img class="icon" alt="X icon" src="../public/images/x.png"></figure>
    </article>

</section>

<section class="list-item list-hidden">
    <figure class="movie-information">
        <img class="movie-poster-sm" alt="Terminator movie poster" src="../public/images/terminator.jpg">

        <div>
            <h2>Terminator</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
    </figure>

    <article class="matcher-icons">
        <figure><img class="icon" alt="Eye icon" src="../public/images/eye.png"></figure>
        <figure><img class="icon" alt="X icon" src="../public/images/x.png"></figure>
    </article>
</section>

{{> footer }}