{{> header}}

<h1 class="title">MovieMatch</h1>



<form id="login">
    <label for id="username">Username</label>
    <input type="text" id="username">

    <label for id="password">Password</label>
    <input type="password" id="password">

    <input type="button" id="submit" class="login-button" value="Log in!">
</form>

<p class="italic">Sign up</p>

{{> footer}}