{{> header}}

<section class="container">

    <h1 class="title">Login</h1>

    <form id="login" method="POST" action="/login">

        <fieldset class="form-container">
            <label for id="username">Username</label>
            <input type="text" id="username" minlength="3" maxlength="20" name="username" required>

            <label for id="password">Password</label>
            <input type="password" id="password" minlength="8" maxlength="50" name="password" required/>

                {{#if error}}
                    <div class="error-container">
                    {{#each error}}
                        <p class="error-message">{{this}}</p>
                    {{/each}}
                    </div>
                {{/if}}
        </fieldset>

        <input type="submit" id="submit" class="login-button" value="Log in!">
        
    </form>

    <a href="/signup" class="italic">Sign up instead</a>
</section>