{{> header}}

<section class="matcher">

    <article class="matcher-slider">
        <div class="off-to-the-side"></div>

        <figure>
            <!-- Here I will display a movie poster with an API -->
            <img class="matcher-poster" alt="Movie poster">

            <article class="matcher-icons">
                <figure><img class="icon" alt="Heart icon" src="../public/images/heart.png"></figure>
                <figure><img class="icon" alt="Eye icon" src="../public/images/eye.png"></figure>
                <figure><img class="icon" alt="X icon" src="../public/images/x.png"></figure>
            </article>
        </figure>

        <div class="off-to-the-side"></div>
    </article>
</section>

{{> footer }}