{{> header}}

<section class="container">

  <h1 class="title">Your profile</h1>

  <article class="profile-container">

    <figure>
      <img class="icon" alt="Your profile picture" src="../public/images/profile.png"/>
    </figure>

    <div>
      <h2>Hi, {{username}}!</h2>
      <p>Welcome to your profile.</p>
    </div>

  </article>

  <article class="profile-information">
    <h2>Your information</h2>

    <ul>
      <li>Username: {{username}}</li>
      <li>Email: {{email}}</li>
      <li>Age: {{age}}</li>
      <li>Password: ****</li>
    </ul>
  </article>

  <article class="buttons">

    <button class="expand">Delete your account</button>

      <article class="hidden">
        <p class="warning">Noo! Please, don't delete your account... here, have a joke to change your mind!</p>
          <p class="joke"><!-- Hier komt een grapje --></p>

          <button class="generate-joke">Get a joke!</button>

        <a href="/delete">Delete anyways</a>
      </article>
    
    <a href="/logout">Log out</a>

  </article>

</section>

{{> footer }}