<h1>Sign up!</h1>

<form id="sign-up">
    <input type="text" id="username">
    <label for id="username">Username</label>

    <input type="password" id="password">
    <label for id="password">Password</label>

    <button id="submit">Log in!</button>
</form>