{{> header}}

<section class="container">

    <h1 class="title">Sign up</h1>

    <form id="signup" method="POST" action="/signup">

        <fieldset class="form-container">
            <label for id="username">Username</label>
            <input type="text" id="username" minlength="3" maxlength="20" name="username" required/>
                <div class="error-container">
                    <p class="error-message">This is an error message!</p>
                </div>

            <label for id="email">Email</label>
            <input type="email" id="email" name="email" required/>
                <div class="error-container">
                    <p class="error-message">This is an error message!</p>
                </div>

            <label for id="age">Age</label>
            <input type="number" id="age" name="age" required/>
                <div class="error-container">
                    <p class="error-message">This is an error message!</p>
                </div>

            <label for id="password">Password</label>
            <input type="password" id="password" minlength="8" maxlength="50" name="password" required/>
                <div class="error-container">
                    <p class="error-message">This is an error message!</p>
                </div>
        </fieldset>

        <input type="submit" id="submit" class="login-button" value="Sign up!" />

    </form>

<a href="/login" class="italic">Log in instead</a>
</section>