@import url("../../node_modules/font-awesome/css/font-awesome.min.css");
html,
* {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
}

h1,
h2,
p,
label,
button,
a,
li {
  color: #ffffff;
}

h1,
h2 {
  font-family: "Antic Didone", "serif";
}

h2 {
  font-size: 21px;
}

p,
label,
input,
a,
button,
li {
  font-family: "Antic", "serif";
  font-size: 18px;
}

p {
  text-align: center;
  align-self: center;
}

.italic {
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  font-size: 16px;
}

.joke {
  color: #4f0000;
  font-style: italic;
  font-weight: bold;
}

.error .error-container h1 {
  font-family: "Poppins", "serif";
  font-size: 10rem;
}
.error .error-container p {
  font-family: "Poppins", "serif";
  font-style: italic;
  font-size: 2rem;
}
.error .error-container p .playpausebutton {
  text-decoration: underline;
  cursor: pointer;
}
.error .error-container p .playpausebutton:hover {
  color: #b0382a;
}
.error .error-button-container {
  transition: 1s;
}
.error .error-button-container a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.error .error-button-container:hover {
  transform: rotate(360deg);
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: url("../images/background.jpeg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
body .container {
  display: flex;
  flex-direction: column;
}
body .container .title {
  text-align: center;
  margin: 1rem 0 4rem 0;
}
body .animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}
body .visible {
  opacity: 1;
  transform: translateY(0);
}
@media (min-width: 576px) {
  body {
    background-position: center bottom;
  }
}
@media (min-width: 1200px) {
  body {
    gap: 4rem;
  }
}

.search form {
  display: flex;
  justify-content: center;
}
.search form input {
  width: 80%;
}

.matcher-icons {
  position: absolute;
  bottom: -1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.matcher-icons figure {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.matcher-icons figure img {
  transition: 0.5s;
}
.matcher-icons figure:hover {
  background: #d9d9d9;
}
.matcher-icons figure:active:first-of-type img {
  transform: scale(1.1);
}
.matcher-icons figure:active:nth-of-type(3) img {
  transform: scale(1.1);
  opacity: 0;
}

.icon {
  width: 60%;
  height: auto;
}

header {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
header img {
  max-width: 30rem;
}

#login,
#signup,
#edit {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: 80%;
  align-self: center;
}
#login .form-container,
#signup .form-container,
#edit .form-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: none;
  background: #000000;
  padding: 1rem;
  align-self: center;
  width: 90%;
}
#login .form-container input,
#signup .form-container input,
#edit .form-container input {
  box-shadow: 0px 2px 5px #000000;
  border: none;
  margin: 0.5rem 0 1.5rem 0;
  border: 3px solid #000000;
}
#login .form-container input:hover,
#signup .form-container input:hover,
#edit .form-container input:hover {
  background: #d9d9d9;
}
#login .form-container input:invalid,
#signup .form-container input:invalid,
#edit .form-container input:invalid {
  border: 3px solid #4f0000;
  outline: none;
}
#login .form-container input:valid,
#signup .form-container input:valid,
#edit .form-container input:valid {
  border: 3px solid #2a6e05;
  outline: none;
}
#login .form-container .error-container,
#signup .form-container .error-container,
#edit .form-container .error-container {
  box-shadow: 0px 5px 10px #000000;
  border: none;
  width: 100%;
  background: #5f0000;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0 0.5rem;
  display: flex;
  justify-content: center;
}
#login .form-container .error-container .error-message,
#signup .form-container .error-container .error-message,
#edit .form-container .error-container .error-message {
  margin: 0;
  width: 90%;
}
@media (min-width: 576px) {
  #login .form-container,
  #signup .form-container,
  #edit .form-container {
    width: 70%;
    padding: 1rem 3rem 1rem 3rem;
  }
}
@media (min-width: 768px) {
  #login .form-container,
  #signup .form-container,
  #edit .form-container {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #login .form-container,
  #signup .form-container,
  #edit .form-container {
    width: 40%;
  }
}
@media (min-width: 1400px) {
  #login .form-container,
  #signup .form-container,
  #edit .form-container {
    width: 30%;
  }
}
#login .login-button,
#signup .login-button,
#edit .login-button {
  width: fit-content;
  color: #ffffff;
  background: #4f0000;
  border: 3px solid #000000;
  padding: 1rem 2rem 1rem 2rem;
  align-self: center;
  border-radius: 30px;
  cursor: pointer;
  margin: 2rem 0 2rem 0;
  text-decoration: none;
}
#login .login-button:hover,
#signup .login-button:hover,
#edit .login-button:hover {
  background: #000000;
  color: #ffffff;
  border: 3px solid #4f0000;
}
#login .login-button:active,
#signup .login-button:active,
#edit .login-button:active {
  background: #ffffff;
  color: #4f0000;
  border: 3px dotted #000000;
}
#login .login-button:focus,
#signup .login-button:focus,
#edit .login-button:focus {
  border: 3px dotted #ffffff;
  outline: none;
}
@media (min-width: 1200px) {
  #login,
  #signup,
  #edit {
    gap: 4rem;
  }
}

.italic {
  cursor: pointer;
  margin-bottom: 2rem;
  width: fit-content;
  align-self: center;
}
.italic:hover {
  color: #797979;
}
.italic:focus {
  border: 3px dotted #4f0000;
  outline: none;
}

.questions {
  width: 80%;
  align-self: center;
  box-shadow: 0px 4px 10px #000000;
  border: none;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.questions h2 {
  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
}
.questions form {
  width: 80%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 10em;
  overflow-y: scroll;
}
.questions form fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}
.questions form fieldset label,
.questions form fieldset input {
  margin: 0.3em;
}
.questions form fieldset input {
  cursor: pointer;
}
.questions form fieldset input:active, .questions form fieldset input:checked {
  accent-color: #000000;
}
.questions .next-button:hover {
  background: #d9d9d9;
  color: #ffffff;
}
.questions .next-button:active {
  color: #ffffff;
  border: 3px dotted #d9d9d9;
}
.questions .next-button:focus {
  border: 3px solid #d9d9d9;
  outline: none;
}

.bubble-container {
  height: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-self: center;
}
.bubble-container .progress-bubbles {
  align-self: center;
  align-items: center;
}
.bubble-container .progress-bubbles .bubble {
  box-shadow: 0px 2px 5px #000000;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  background: #ffffff;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin: 0 1rem 0 1rem;
}
.bubble-container .progress-bubbles .bubble:hover {
  background: #d9d9d9;
}
.bubble-container .progress-bubbles .bubble:first-of-type {
  background: #d9d9d9;
}

.matcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.matcher .matcher-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.matcher .matcher-slider .off-to-the-side {
  margin-top: 2rem;
  background: #000000;
  box-shadow: 0px 4px 10px #000000;
  border: none;
  width: 1rem;
  height: 21rem;
}
.matcher .matcher-slider figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60%;
  max-width: 23rem;
  background: #000000;
  box-shadow: 0px 4px 10px #000000;
  border: none;
}
.matcher .matcher-slider figure .matcher-poster {
  width: 90%;
  max-width: 20rem;
  align-self: center;
  padding: 1rem;
}
.matcher .matcher-slider figure .matcher-icons figure {
  background: #ffffff;
  width: 3rem;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  align-self: center;
  gap: 1rem;
  background: #000000;
  padding: 1rem;
}
.profile-container figure {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #4f0000;
}
.profile-container figure img {
  width: 100%;
}
.profile-container div {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.profile-container div p {
  text-align: left;
}
@media (min-width: 768px) {
  .profile-container {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .profile-container {
    width: 30%;
  }
}

.profile-information {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  background: #000000;
}
.profile-information h2 {
  text-align: center;
  margin: 1rem 0 2rem 0;
}
.profile-information ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: center;
  margin: 0 0 2rem 0;
}
@media (min-width: 768px) {
  .profile-information {
    margin-top: 2rem;
    width: 50%;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0 0 0;
}
.buttons a,
.buttons button {
  width: fit-content;
  color: #ffffff;
  background: #4f0000;
  border: 3px solid #000000;
  padding: 1rem 2rem 1rem 2rem;
  align-self: center;
  border-radius: 30px;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
}
.buttons a:hover,
.buttons button:hover {
  background: #000000;
  color: #ffffff;
  border: 3px solid #4f0000;
}
.buttons a:active,
.buttons button:active {
  background: #ffffff;
  color: #4f0000;
  border: 3px dotted #000000;
}
.buttons a:focus,
.buttons button:focus {
  border: 3px dotted #ffffff;
  outline: none;
}
.buttons .hidden {
  display: none;
}
.buttons article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background: #000000;
  width: 80%;
}
.buttons article .warning {
  margin: 2rem 1rem 1rem 1rem;
}
.buttons article .joke {
  width: 80%;
}
@media (min-width: 1400px) {
  .buttons article .joke {
    width: 50%;
  }
}
.buttons article button {
  margin: 1rem 0 1rem 0;
}
.buttons article a {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .buttons article {
    width: 50%;
  }
}

.list {
  text-align: center;
}

.list-item {
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
}
.list-item .movie-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  padding: 1rem;
  background: #000000;
}
.list-item .movie-information .movie-poster-sm {
  width: 30%;
  object-fit: cover;
  max-width: 10rem;
}
.list-item .movie-information p {
  text-align: left;
  font-size: 16px;
}
.list-item .matcher-icons {
  position: absolute;
  bottom: -1.8rem;
  width: 30%;
}
@media (min-width: 992px) {
  .list-item .matcher-icons {
    width: 20%;
  }
}

.list-hidden {
  opacity: 0;
  transition: opacity 1s ease;
}

.list-item.visible {
  opacity: 1;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.error .error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error .error-button-container width a {
  padding: 1rem;
  border: 2px solid #ffffff;
  text-align: center;
}
.error .error-button-container {
  padding: 1rem;
  border: 2px solid #ffffff;
}

.filteranimation {
  animation: hueAnimation 5s infinite;
}

@keyframes hueAnimation {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
}
body {
  position: relative;
}
body .main-footer {
  background: #000000;
  width: 100%;
  height: 8rem;
  margin-top: auto;
  display: flex;
  justify-content: center;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  position: sticky;
  bottom: 0;
}
body .main-footer .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 1.5rem 0 1.5rem 0;
}
body .main-footer .nav a {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body .main-footer .nav a img {
  width: 60%;
}
body .main-footer .nav a:first-of-type, body .main-footer .nav a:nth-of-type(4) {
  margin-top: 1.5rem;
}
body .main-footer .nav a:hover {
  background: #d9d9d9;
}
body .main-footer .nav a:focus {
  box-shadow: 0px 0px 15px #000000;
  border: none;
}
@media (min-width: 576px) {
  body .main-footer .nav {
    width: 50%;
  }
}
@media (min-width: 768px) {
  body .main-footer .nav {
    width: 30%;
  }
}
