html, * {
  margin: 0;
  padding: 0;
}

h1,
h2,
p,
label,
button,
a {
  color: #FFFFFF;
}

h1,
h2 {
  font-family: "Antic Didone", "serif";
}

p,
label,
input,
a {
  font-family: "Antic", "serif";
  font-size: 18px;
}

.italic {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  background: #8031E4;
}

.title {
  background: #641AC2;
  margin: 2rem 0 2rem 0;
  padding: 1rem;
  text-align: center;
}

#login,
#signup {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  margin-top: 3rem;
}
#login input,
#signup input {
  margin: 0.5rem 0 0.5rem 0;
}
#login input:focus,
#signup input:focus {
  border: 3px solid #641AC2;
  outline: none;
}
#login .login-button,
#signup .login-button {
  width: fit-content;
  color: #FFFFFF;
  background: #641AC2;
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  align-self: center;
  border-radius: 30px;
  cursor: pointer;
  margin: 5rem 0 5rem 0;
}
#login .login-button:hover,
#signup .login-button:hover {
  background: #FFFFFF;
  color: #8031E4;
}
#login .login-button:active,
#signup .login-button:active {
  background: #FFFFFF;
  color: #8031E4;
  border: 3px dotted #641AC2;
}
#login .login-button:focus,
#signup .login-button:focus {
  border: 3px solid #FFFFFF;
  outline: none;
}

.italic {
  cursor: pointer;
  transition: 1s;
}

i {
  color: #FFFFFF;
}
