/* reset */

*, html {
    padding: 0;
    margin: 0;
}

/* login page */

body {
    background: #6B22C9;
}

.title {
    background: #440791;
    color: #ffffff;
    margin: 2rem 0 2rem 0;
    padding: 1rem;
    text-align: center;
}

#login {
    display: flex;
    flex-direction: column;
}