@import "variables";

@mixin button(
  $textColor,
  $buttonBackground,
  $buttonPadding,
  $buttonMargin,
  $border
) {
  width: fit-content;
  color: $textColor;
  background: $buttonBackground;
  border: $border;
  padding: $buttonPadding;
  align-self: center;
  border-radius: 30px;
  cursor: pointer;
  margin: $buttonMargin;
  text-decoration: none;
}

@mixin boxshadow($boxShadow) {
  box-shadow: $boxShadow $secondaryColor;
  border: none;
}

@mixin text(
  $fontFamily: $primaryFont,
  $fontSize: 16,
  $fontColor: $primaryTextColor
) {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontColor;
}

@mixin textDecoration($fontStyle, $textDecoration, $textAlign) {
  font-style: $fontStyle;
  text-decoration: $textDecoration;
  text-align: $textAlign;
}

@mixin flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
