// colors

$primaryColor: #4f0000;
$secondaryColor: #000000;
$tertiaryColor: #ffffff;
$quaternaryColor: #d9d9d9;
$fifthColor: #797979;
$sixthcolor: #2a6e05;

// text

$primaryTextColor: #ffffff;
$secondaryTextColor: #000000;
$tertiaryTextColor: #797979;

// fonts

$primaryFont: "Antic Didone", "serif";
$secondaryFont: "Antic", "serif";

$tertiaryFont: "Poppins", "serif";

// font sizes

// $sm-header: ;
// $sm-title: ;
// $sm-text: ;

// $lg-header: ;
// $lg-title: ;
// $lg-text: ;

// breakpoints

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// errors

$primaryErrorColor: #5f0000;
