// colors

$primaryColor: #440000;
$secondaryColor: #350000;
$tertiaryColor: #ffffff;
$quaternaryColor: #000000;

// text

$primaryTextColor: #ffffff;

// fonts

$primaryFont: "Antic Didone", "serif";
$secondaryFont: "Antic", "serif";

// breakpoints

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
