@import "helpers/variables";
@import "helpers/mixins";

body {
  position: relative;
  .main-footer {
    background: $secondaryColor;
    width: 100%;
    height: 8rem;
    margin-top: auto;
    display: flex;
    justify-content: center;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    position: sticky;
    bottom: 0;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 70%;
      margin: 1.5rem 0 1.5rem 0;

      a {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: $tertiaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
          width: 60%;
        }

        &:first-of-type,
        &:nth-of-type(4) {
          margin-top: 1.5rem;
        }

        &:hover {
          background: $quaternaryColor;
        }

        &:focus {
          @include boxshadow(0px 0px 15px);
        }
      }

      @media (min-width: $sm) {
        width: 50%;
      }

      @media (min-width: $md) {
        width: 30%;
      }
    }
  }
}
