@import "helpers/variables";
@import "helpers/mixins";

#login,
#signup,
#edit {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  width: 80%;
  align-self: center;

  .form-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: none;
    background: $secondaryColor;
    padding: 16px;
    align-self: center;
    width: 90%;
    input {
      @include boxshadow(0px 2px 5px);
      margin: 8px 0 24px 0;
      border: 3px solid $secondaryColor;

      &:hover {
        background: $quaternaryColor;
      }
    }

    input:invalid {
      border: 3px solid $primaryColor;
      outline: none;
    }

    input:valid {
      border: 3px solid $sixthcolor;
      outline: none;
    }

    .password-check {
      .red {
        color: $primaryColor;
      }

      .green {
        color: $sixthcolor;
      }
    }

    .error-container {
      @include boxshadow(0px 5px 10px);
      width: 100%;
      background: $primaryErrorColor;
      border-radius: 20px;
      margin: 24px 0 24px 0;
      padding: 8px 0 8px;
      display: flex;
      justify-content: center;
      .error-message {
        margin: 0;
        width: 90%;
      }
    }

    @media (min-width: $sm) {
      width: 70%;
      padding: 16px 48px 16px 48px;
    }

    @media (min-width: $md) {
      width: 50%;
    }

    @media (min-width: $xl) {
      width: 40%;
    }

    @media (min-width: $xxl) {
      width: 30%;
    }
  }

  .login-button {
    @include button(
      $primaryTextColor,
      $primaryColor,
      16px 32px 16px 32px,
      32px 0 32px 0,
      3px solid $secondaryColor
    );

    &:hover {
      background: $secondaryColor;
      color: $primaryTextColor;
      border: 3px solid $primaryColor;
    }

    &:active {
      background: $tertiaryColor;
      color: $primaryColor;
      border: 3px dotted $secondaryColor;
    }

    &:focus {
      border: 3px dotted $tertiaryColor;
      outline: none;
    }
  }

  @media (min-width: $xl) {
    gap: 64px;
  }
}

.italic {
  cursor: pointer;
  margin-bottom: 32px;
  width: fit-content;
  align-self: center;

  &:hover {
    color: $tertiaryTextColor;
  }

  &:focus {
    border: 3px dotted $primaryColor;
    outline: none;
  }
}
