@import "helpers/variables";
@import "helpers/mixins";

#login,
#signup,
#edit {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  margin-top: 3rem;

  input {
    @include boxshadow(0px 2px 5px);
    margin: 0.5rem 0 1.5rem 0;

    &:focus {
      border: 3px solid $secondaryColor;
      outline: none;
    }
  }

  .login-button {
    @include button(
      $primaryTextColor,
      $secondaryColor,
      1rem 2rem 1rem 2rem,
      3rem 0 3rem 0
    );

    &:hover {
      background: $tertiaryColor;
      color: $primaryColor;
    }

    &:active {
      background: $tertiaryColor;
      color: $primaryColor;
      border: 3px dotted $secondaryColor;
    }

    &:focus {
      border: 3px solid $primaryTextColor;
      outline: none;
    }
  }

  @media (min-width: $md) {
    width: 50%;
  }

  @media (min-width: $lg) {
    width: 40%;
  }
}

.italic {
  cursor: pointer;
  transition: 1s;
}
