@import "helpers/variables";
@import "helpers/mixins";

header,
.title {
  width: 100%;
  margin: 4rem 0 4rem 0;
  background: $secondaryColor;
  @include boxshadow(0px 4px 10px);
}

.title {
  text-align: center;
  padding: 2rem 0 2rem 0;
}
