@import "helpers/variables";
@import "helpers/mixins";

.list {
  text-align: center;
}

.list-item {
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 32px;

  .movie-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 80%;
    padding: 16px;
    background: $secondaryColor;

    .movie-poster-sm {
      width: 30%;
      object-fit: cover;
      max-width: 160px;
    }

    p {
      text-align: left;
      font-size: 16px;
    }
  }

  .matcher-icons {
    position: absolute;
    bottom: -28.8;
    width: 30%;

    @media (min-width: $lg) {
      width: 20%;
    }
  }
}

.list-hidden {
  opacity: 0;
  transition: opacity 1s ease;
}

.list-item.visible {
  opacity: 1;
}
