@import "helpers/variables";
@import "helpers/mixins";

.matcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .matcher-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .off-to-the-side {
      margin-top: 2rem;
      background: $secondaryColor;
      @include boxshadow(0px 4px 10px);
      width: 1rem;
      height: 21rem;
    }

    figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 60%;
      max-width: 23rem;
      background: $secondaryColor;
      @include boxshadow(0px 4px 10px);

      .matcher-poster {
        width: 90%;
        max-width: 20rem;
        align-self: center;
        padding: 1rem;
      }

      .matcher-icons {
        figure {
          background: $tertiaryColor;
          width: 3rem;
        }
      }
    }
  }
}
