// pages that don't need that much styling

.search {
  form {
    display: flex;
    justify-content: center;

    input {
      width: 80%;
    }
  }
}

h1.list {
  text-align: center;
}

.error {
  background-image: url("../public/images/lionel.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
