@import "helpers/variables";
@import "helpers/mixins";

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  align-self: center;
  gap: 16px;
  background: $secondaryColor;
  padding: 16px;

  figure {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $primaryColor;

    img {
      width: 100%;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-self: center;
    p {
      text-align: left;
    }
  }

  @media (min-width: $md) {
    width: 50%;
  }

  @media (min-width: $lg) {
    width: 30%;
  }
}

.profile-information {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  background: $secondaryColor;

  h2 {
    text-align: center;
    margin: 16px 0 32px 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: center;
    margin: 0 0 32px 0;
  }

  @media (min-width: $md) {
    margin-top: 32px;
    width: 50%;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 32px 0 0 0;

  a,
  button {
    @include button(
      $tertiaryColor,
      $primaryColor,
      16px 32px 16px 32px,
      0,
      3px solid $secondaryColor
    );

    &:hover {
      background: $secondaryColor;
      color: $primaryTextColor;
      border: 3px solid $primaryColor;
    }

    &:active {
      background: $tertiaryColor;
      color: $primaryColor;
      border: 3px dotted $secondaryColor;
    }

    &:focus {
      border: 3px dotted $tertiaryColor;
      outline: none;
    }
  }

  .hidden {
    display: none;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    background: $secondaryColor;
    width: 80%;

    .warning {
      margin: 32px 16px 16px 16px;
    }

    .joke {
      width: 80%;

      @media (min-width: $xxl) {
        width: 50%;
      }
    }

    button {
      margin: 16px 0 16px 0;
    }

    a {
      margin-bottom: 32px;
    }

    @media (min-width: $md) {
      width: 50%;
    }
  }
}
