@import "helpers/variables";
@import "helpers/mixins";

body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-image: url("../images/background.jpeg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    .title {
      text-align: center;
      margin: 16px 0 64px 0;
    }
  }

  .animate {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease, transform 1s ease;
  }

  .visible {
    opacity: 1;
    transform: translateY(0);
  }

  @media (min-width: $sm) {
    background-position: center bottom;
  }

  @media (min-width: $xl) {
    gap: 64px;
  }
}

// search page
.search {
  form {
    display: flex;
    justify-content: center;

    input {
      width: 80%;
    }
  }
}

.matcher-icons {
  position: absolute;
  bottom: -16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  figure {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $tertiaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      transition: 0.5s;
    }

    &:hover {
      background: $quaternaryColor;
    }

    &:active:first-of-type {
      img {
        transform: scale(1.1);
      }
    }

    &:active:nth-of-type(3) {
      img {
        transform: scale(1.1);
        opacity: 0;
      }
    }
  }
}

.icon {
  width: 60%;
  height: auto;
}
