@import "helpers/variables";
@import "helpers/mixins";

h1,
h2,
p,
label,
button,
a {
  color: $primaryTextColor;
}

h1,
h2 {
  font-family: $primaryFont;
}

h2 {
  font-size: 21px;
}

p,
label,
input,
a {
  font-family: $secondaryFont;
  font-size: 18px;
}

.italic {
  @include textDecoration(italic, underline, center);
  font-size: 16px;

  // &:hover {

  // }
}
