@import "helpers/variables";
@import "helpers/mixins";

h1,
h2,
p,
label,
button,
a,
li {
  color: $primaryTextColor;
}

h1,
h2 {
  font-family: $primaryFont;
}

h2 {
  font-size: 21px;
}

p,
label,
input,
a,
button,
li {
  font-family: $secondaryFont;
  font-size: 18px;
}

p {
  text-align: center;
  align-self: center;
}

.italic {
  @include textDecoration(italic, underline, center);
  font-size: 16px;
}

.error {
  h1 {
    font-family: $tertiaryFont;
  }

  p {
    font-family: $tertiaryFont;
    font-style: italic;
  }
}
