@import 'helpers/variables';
@import 'helpers/mixins';

h1, h2, p, label, button {
    color: $primaryTextColor;
}

h1, h2 {
    font-family: $primaryFont;
}

p, label, input {
    font-family: $secondaryFont;
    font-size: 18px;
}

.italic {
    font-style: italic;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}